<h1>Editing civilisation</h1>

<%= render "form", civilisation: @civilisation %>

<br>

<div>
  <%= link_to "Show this civilisation", @civilisation %> |
  <%= link_to "Back to civilisations", civilisations_path %>
</div>
