<div id="<%= dom_id enjoyment %>">
  <p>
    <strong>Title:</strong>
    <%= enjoyment.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= enjoyment.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= enjoyment.description %>
  </p>

</div>
