<h1>Editing enjoyment</h1>

<%= render "form", enjoyment: @enjoyment %>

<br>

<div>
  <%= link_to "Show this enjoyment", @enjoyment %> |
  <%= link_to "Back to enjoyments", enjoyments_path %>
</div>
