<div id="<%= dom_id social %>">
  <p>
    <strong>Title:</strong>
    <%= social.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= social.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= social.description %>
  </p>

</div>
