<div id="<%= dom_id mythology %>">
  <p>
    <strong>Title:</strong>
    <%= mythology.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= mythology.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mythology.description %>
  </p>

</div>
