<h1>Editing mythology</h1>

<%= render "form", mythology: @mythology %>

<br>

<div>
  <%= link_to "Show this mythology", @mythology %> |
  <%= link_to "Back to mythologies", mythologies_path %>
</div>
