<div id="<%= dom_id education %>">
  <p>
    <strong>Title:</strong>
    <%= education.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= education.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= education.description %>
  </p>

</div>
