<div id="<%= dom_id economic %>">
  <p>
    <strong>Title:</strong>
    <%= economic.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= economic.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= economic.description %>
  </p>

</div>
